<template>
    <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            full-width
            min-width="290px"
    >
        <template v-slot:activator="{ on }">
            <v-text-field
                    v-model="dateLabel"
                    :label="label"
                    prepend-icon="fa-calendar-alt"
                    readonly
                    v-on="on"
            ></v-text-field>
        </template>
        <v-date-picker v-model="date"
                       @input="onInput"
                       :min="minDateLimit"
                       :allowed-dates="allowedDates"
                       :events="bookedDates"
                       event-color="red lighten-1"
        ></v-date-picker>
    </v-menu>
</template>

<script>
    import {Component, Vue} from 'vue-property-decorator';
    import moment from "moment";

    @Component({
        props: {
            label: String,
            dateProp: String,
            minDateLimit: String,
            blockedDates: Array,
            reservationDates: Array
        },
        data() {
            return {
                menu: false,
                date: this.dateProp,
                dateLabel: moment(this.dateProp, 'Y-MM-DD').format("DD.MM.Y"),
                today: new Date().toISOString().substr(0, 10)
            }
        },
        watch: {
            /* tslint:disable */
            dateProp: function (newVal, oldVal) {
                this.date = this.dateProp;
                this.dateLabel = moment(newVal, 'Y-MM-DD').format("DD.MM.Y")
            }
        },
        mounted() {
            // console.log("mounted", this.dateProp)
        }
    })
    export default class DatePicker extends Vue {
        onInput(value) {
            this.menu = false;
            this.$emit('dateChange', value);
        }

        allowedDates(val) {
            if(this.reservationDates.length) {
                if(this.reservationDates.includes(val)) return true;
            }
            return !this.blockedDates.includes(val)
        }

        bookedDates(val) {
            if(this.reservationDates.length) {
                if(this.reservationDates.includes(val)) return 'green';
            }
            return this.blockedDates.includes(val)
        }
    }
</script>

<style scoped>

</style>