<template>
    
</template>

<script>
    import {Component, Vue} from 'vue-property-decorator';

    @Component({
        props: {
            reservation: {}
        }
    })
    export default class ReservationDetails extends Vue {

    }
</script>

<style scoped>

</style>