<template>
    <v-card>
        <v-card-title>{{title}}</v-card-title>
        <v-form v-model="valid">
            <v-container>
                <v-text-field
                        class="ma-2"
                        v-model="reservation.first_name"
                        :rules="firstNameRules"
                        label="First name"
                ></v-text-field>
                <v-text-field
                        class="mx-2"
                        v-model="reservation.last_name"
                        :rules="lastNameRules"
                        label="Last name"
                ></v-text-field>
                <v-text-field
                        class="mx-2"
                        v-model="reservation.email"
                        :rules="emailRules"
                        label="Email"
                ></v-text-field>
                <DatePicker label="Start date" :dateProp="reservation.date_from" @dateChange="changeDateFrom"
                            :minDateLimit="minDateLimitFrom" :blockedDates="unit.blocked_dates" :reservationDates="reservation.reservation_dates"/>
                <DatePicker label="End date" :dateProp="reservation.date_to" @dateChange="changeDateTo"
                            :minDateLimit="minDateLimitTo" :blockedDates="unit.blocked_dates" :reservationDates="reservation.reservation_dates"/>

                <v-text-field
                        class="mx-2"
                        v-model="totalPrice"
                        label="Total price"
                        readonly
                ></v-text-field>
                <v-card-actions v-if="!reservation.hasOwnProperty('id')">
                    <v-btn color="primary" @click="addReservation()">Add reservation</v-btn>
                </v-card-actions>
                <v-card-actions v-else>
                    <v-btn color="primary" @click="editReservation()">Edit</v-btn>
                    <v-btn color="danger" @click="deleteReservation()">Delete</v-btn>
                </v-card-actions>
            </v-container>
        </v-form>
    </v-card>
</template>

<script>
    import {Component, Vue} from 'vue-property-decorator';
    import DatePicker from './DatePicker';
    import moment from "moment";
    import AxiosModel from "../../utils/AxiosModel";

    @Component({
        components: {DatePicker},
        props: {
            title: "",
            reservation: Object,
            unit: Object,
            goBack: Function
        },
        data() {
            return {
                valid: false,
                minDateLimitTo: this.reservation.date_to,
                minDateLimitFrom: moment().format('Y-MM-DD'),
                isDateToChanged: false,
                totalPrice: this.reservation.total_price,
                firstNameRules: [
                    (v) => !!v || 'Name is required',
                ],
                lastNameRules: [
                    (v) => !!v || 'Last name is required',
                ],
                emailRules: [
                    (v) => !!v || 'Email is required',
                    (v) => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(v) || 'Invalid e-mail.'
                    }
                ],
                dateFromRules: [
                    (v) => !!v || 'Start date is required'
                ],
                dateToRules: [
                    (v) => !!v || 'End date is required'
                ]
            }
        },
        created() {
            this.changeTotalPrice();
            if(!this.reservation.reservation_dates.length) {
                this.setMinDateFrom();
            }
        },
    })
    export default class ReservationForm extends Vue {
        addReservation() {
            new AxiosModel().addReservation({
                first_name: this.reservation.first_name,
                last_name: this.reservation.last_name,
                email: this.reservation.email,
                date_from: this.reservation.date_from,
                date_to: this.reservation.date_to,
                total_price: this.totalPrice,
                unit_id: this.unit.id
            }).then((response) => {
                this.$toasted.success(response.data.message);
                this.$props.goBack();
            }).catch((reason) => {
                if (typeof reason.response !== "undefined") {
                    const key = Object.keys(reason.response.data)[0];
                    const message = reason.response.data[key][0];
                    this.$toasted.error(message);
                }
            });
        }

        editReservation() {
            new AxiosModel().editReservation(this.reservation.id, {
                first_name: this.reservation.first_name,
                last_name: this.reservation.last_name,
                email: this.reservation.email,
                date_from: this.reservation.date_from,
                date_to: this.reservation.date_to,
                total_price: this.totalPrice,
                unit_id: this.unit.id
            }).then((response) => {
                this.$toasted.success(response.data.message);
                this.$props.goBack();
            }).catch((reason) => {
                if (typeof reason.response !== "undefined") {
                    const key = Object.keys(reason.response.data)[0];
                    const message = reason.response.data[key][0];
                    this.$toasted.error(message);
                }
            });
        }

        deleteReservation() {
            new AxiosModel().deleteReservation(this.reservation.id).then((response) => {
                this.$toasted.success(response.data.message);
                this.$props.goBack();
            }).catch((reason) => {
                this.$toasted.error("Ops, something went wrong");
                this.$props.goBack();
            })
        }

        setMinDateFrom() {
            if(this.unit.blocked_dates.length) {
                let tmpDateFrom = this.reservation.date_from;
                let tmpDateChanged = false;
                /* tslint:disable */
                for(let i = 0; i < this.unit.blocked_dates.length; i++) {
                    const blockedDate = moment(this.unit.blocked_dates[i]);
                    if(blockedDate.diff(moment(tmpDateFrom), 'd') === 1) {
                        tmpDateFrom = blockedDate.format('Y-MM-DD');
                        tmpDateChanged = true;
                    }
                }
                if(tmpDateChanged) {
                    tmpDateFrom = moment(tmpDateFrom).add(1, 'd').format('Y-MM-DD');
                    this.reservation.date_to = moment(tmpDateFrom).add(1, 'd').format('Y-MM-DD');
                }
                this.reservation.date_from = tmpDateFrom;
            }
        }

        changeTotalPrice() {
            const dayDiff = moment(this.reservation.date_to).diff(this.reservation.date_from, 'days');
            this.totalPrice = this.reservation.total_price * dayDiff;
        }

        changeDateFrom(value) {
            this.reservation.date_from = value;
            const newDateLimit = moment(value).add(1, 'd').format('Y-MM-DD');
            if (!this.isDateToChanged || (this.reservation.date_from >= this.reservation.date_to)) {
                this.reservation.date_to = newDateLimit;
            }
            this.minDateLimitTo = newDateLimit;
            this.changeTotalPrice();
        }

        changeDateTo(value) {
            this.isDateToChanged = true;
            this.reservation.date_to = value;
            this.changeTotalPrice();
        }
    }
</script>

<style scoped>

</style>