<template>
    <v-list flat>
        <v-list-item v-for="reservation in reservations" :key="reservation.id" @click="goToDetails(reservation.id)">
            <v-list-item-content>
                <v-list-item-title v-text="reservation.unit.name"></v-list-item-title>
                <v-list-item-subtitle v-text="reservation.date_from + ' - ' + reservation.date_to"></v-list-item-subtitle>
            </v-list-item-content>
            <v-icon>fa-chevron-right</v-icon>
        </v-list-item>
    </v-list>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator';

    @Component({
        props: {
            reservations: Array
        }
    })
    export default class ReservationList extends Vue {
        goToDetails(id) {
            this.$router.push({
                path: '/reservations/edit/' + id
            });
        }
    }
</script>

<style scoped>

</style>