<template>
    <div>
        <v-toolbar color="primary">
            <v-toolbar-title>Mini booking app</v-toolbar-title>
            <div class="flex-grow-1"></div>
            <NavigationBar/>
<!--            <router-link to="/">Home</router-link>-->
<!--            <router-link to="/about">About</router-link>-->
        </v-toolbar>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import NavigationBar from "@/components/TopBar/NavigationBar.vue";
    @Component({
        components: {NavigationBar}
    })
    export default class AppBar extends Vue {

    }

</script>

<style scoped>
    .v-toolbar__title {
        color: #fff;
    }
</style>