<template>
    <v-list flat>
        <v-list-item v-for="link in navLinks" :key="link.name">
            <router-link :to="link.link">
            <v-list-item-content>
                <v-list-item-title>{{ link.name }}</v-list-item-title>
            </v-list-item-content>
            </router-link>
        </v-list-item>
    </v-list>
</template>

<script>
    import {Vue, Component, Prop} from 'vue-property-decorator';

    @Component
    export default class NavigationBar extends Vue {
        navLinks = [
            {
                name: "Home",
                link: "/"
            },
            {
                name: "Units",
                link: "/units"
            },
            {
                name: "Reservations",
                link: "/reservations"
            }
        ]
    }
</script>

<style scoped>
    .v-list.v-sheet {
        background: transparent;
        display: flex;
    }
    .v-list.v-sheet .v-list-item {
        color: #fff !important;
    }
    .v-application a {
        color: white;
        text-decoration: none;
    }
    .v-application a.router-link-exact-active,
    .v-application a:hover{
        text-decoration: underline;
    }
</style>