<template>
    <v-list flat>
        <v-list-item v-for="unit in units" :key="unit.id" @click="goToDetails(unit.id)">
            <v-list-item-content>
                <v-list-item-title v-text="unit.name"></v-list-item-title>
            </v-list-item-content>
            <v-icon>fa-chevron-right</v-icon>
        </v-list-item>
    </v-list>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator';

    @Component({
        props: {
            units: Array
        }
    })
    export default class UnitList extends Vue {
        goToDetails(id) {
            this.$router.push({
                path: '/units/edit/' + id
            });
        }
    }
</script>

<style scoped>

</style>