<template>
    <v-card>
        <v-card-title>{{unit.name}}</v-card-title>
        <v-card-text>
            <v-row>
                <v-col>
                    Price per night: <strong>{{unit.price_per_night}}</strong>
                </v-col>
            </v-row>
            <v-row>
                <v-col>
                    Max number of guests: <strong>{{unit.max_persons}}</strong>
                </v-col>
            </v-row>
        </v-card-text>
    </v-card>
</template>

<script>
    import {Component, Vue} from 'vue-property-decorator';

    @Component({
        props: {
            unit: {}
        }
    })
    export default class UnitDetails extends Vue {

    }
</script>

<style scoped>

</style>