<template>
    <v-card>
        <v-card-title>{{title}}</v-card-title>
        <v-form v-model="valid">
            <v-container>
                <v-text-field
                        class="ma-2"
                        v-model="unit.name"
                        :rules="nameRules"
                        label="Name"
                ></v-text-field>
                <v-text-field
                        class="mx-2"
                        v-model="unit.max_persons"
                        :rules="maxPersonsRules"
                        label="Max persons"
                ></v-text-field>
                <v-text-field
                        class="mx-2"
                        v-model="unit.price_per_night"
                        :rules="pricePerNightRules"
                        label="Price per night"
                ></v-text-field>
                <v-card-actions v-if="!unit.hasOwnProperty('id')">
                    <v-btn color="primary" @click="addUnit()">Add unit</v-btn>
                </v-card-actions>
                <v-card-actions v-else>
                    <v-btn color="primary" @click="editUnit()">Edit</v-btn>
                    <v-btn color="danger" @click="deleteUnit()">Delete</v-btn>
                </v-card-actions>
            </v-container>
        </v-form>
    </v-card>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator';
    import AxiosModel from "../../utils/AxiosModel";

    @Component({
        props: {
            title: "",
            unit: {},
            goBack: {type: Function}
        },
        data() {
            return {
                valid: false,
                nameRules: [
                    (v) => !!v || 'Name is required',
                ],
                maxPersonsRules: [
                    (v) => !!v || 'Max persons is required',
                    (v) => v > 0 || 'Max persons must be grater then 0',
                ],
                pricePerNightRules: [
                    (v) => !!v || 'Price is required',
                    (v) => {
                        return v > 0 || 'Price must be grater then 0';
                    }
                ]
            }
        }
    })
    export default class UnitForm extends Vue {
        editUnit() {
            new AxiosModel().editUnit(this.unit.id, {
                name: this.unit.name,
                max_persons: this.unit.max_persons,
                price_per_night: this.unit.price_per_night
            }).then((response) => {
                this.$toasted.success(response.data.message);
                this.goBack();
            }).catch((reason) => {
                if (typeof reason.response !== "undefined") {
                    const key = Object.keys(reason.response.data)[0];
                    const message = reason.response.data[key][0];
                    this.$toasted.error(message);
                }
            })
        }

        deleteUnit() {
            new AxiosModel().deleteUnit(this.unit.id).then((response) => {
                this.$toasted.success(response.data.message);
                this.$props.goBack();
            }).catch((reason) => {
                this.$toasted.error(reason.response.data.message);
            })
        }

        addUnit() {
            new AxiosModel().addUnit({
                name: this.unit.name,
                price_per_night: this.unit.price_per_night,
                max_persons: this.unit.max_persons,
            }).then((response) => {
                this.$toasted.success(response.data.message);
                this.$props.goBack();
            }).catch((reason) => {
                if (typeof reason.response !== "undefined") {
                    const key = Object.keys(reason.response.data)[0];
                    const message = reason.response.data[key][0];
                    this.$toasted.error(message);
                }
            })
        }
    }
</script>

<style scoped>

</style>