<template>
    <v-autocomplete
            label="Search units"
            outlined
            :items="unitNames"
            @change="selectUnit"
    ></v-autocomplete>
</template>

<script>
    import {Component, Vue} from 'vue-property-decorator';

    @Component({
        props: {
            unitNames: Array,
            selectUnit: {type: Function}
        }
    })
    export default class UnitSearch extends Vue {

    }
</script>

<style scoped>

</style>