<template>
    <div class="home">
        <div class="justify-center align-center d-flex mx-auto">
            <MainHomeButton href="/units" icon-name="fa-hotel" is-primary title="Units"/>
            <MainHomeButton href="/reservations" icon-name="fa-file-alt" title="Reservations"/>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import MainHomeButton from "@/components/MainHomeButton.vue";

    @Component({
        components: {
            MainHomeButton,
        },
    })
    export default class Home extends Vue {
    }
</script>

<style scoped>
    .home {
        display: flex;
        flex-grow: 1;
    }
</style>
