<template>
    <section v-if="loading">
        <Loading/>
    </section>
    <section v-else>
        <v-dialog v-model="dialog" max-width="500">
            <ReservationForm title="Edit reservation" :reservation="reservation" :unit="unit" :goBack="goBack"/>
        </v-dialog>
    </section>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator';
    import AxiosModel from "../utils/AxiosModel";
    import Loading from "../components/Loading";
    import ReservationForm from "../components/Reservations/ReservationForm";

    @Component({
        components: {ReservationForm, Loading},
        data() {
            return {
                dialog: true,
                reservationId: '',
                reservation: {},
                unit: {},
                loading: true
            }
        },
        mounted() {
            this.reservationId = this.$route.params.id;
            if (!this.reservationId) {
                this.goBack();
            }
            this.getReservationDetails();
        },
        watch: {
            dialog() {
                this.goBack()
            }
        }
    })
    export default class ReservationEdit extends Vue {
        goBack() {
            this.dialog = false;
            this.$router.push({
                path: "/reservations"
            })
        }

        getReservationDetails() {
            new AxiosModel().getReservationDetails(this.reservationId).then((response) => {
                this.reservation = response.data;
                this.unit = response.data.unit;
            }).finally(() => {
                this.loading = false
            })
        }
    }
</script>

<style scoped>

</style>