<template>
    <v-container fluid>
        <v-row>
            <v-col cols="8" offset="2">
                <UnitSearch :unitNames="unitNames" :selectUnit="selectUnit"/>
            </v-col>
        </v-row>
        <v-row v-if="selectedUnit.hasOwnProperty('id')" :key="selectedUnit.id">
            <v-col cols="8" offset="2">
                <UnitDetails :unit="selectedUnit"/>
            </v-col>
        </v-row>
        <v-row v-if="selectedUnit.hasOwnProperty('id')" :key="selectedUnit.id + 1">
            <v-col cols="8" offset="2">
                <ReservationForm title="New reservation" :reservation="reservation" :unit="selectedUnit" :goBack="goBack"/>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {Component, Vue} from 'vue-property-decorator';
    import AxiosModel from "../utils/AxiosModel";
    import UnitSearch from '../components/Units/UnitSearch';
    import UnitDetails from '../components/Units/UnitDetails';
    import ReservationForm from '../components/Reservations/ReservationForm'
    import * as moment from "moment";

    @Component({
        components: {UnitSearch, UnitDetails, ReservationForm},
        mounted() {
            this.getUnits();
        },
        data() {
            const tomorrow = new Date(new Date().setDate(new Date().getDate() + 1)).toISOString().substr(0, 10);
            return {
                unitNames: [],
                selectedUnit: {},
                loading: false,
                reservation: {
                    date_from: new Date().toISOString().substr(0, 10),
                    date_to: tomorrow,
                    total_price: "",
                    reservation_dates: []
                },
                units: {}
            }
        }
    })
    export default class ReservationNew extends Vue {
        goBack() {
            this.$router.push({
                path: "/reservations"
            })
        }

        getUnits() {
            this.loading = true;
            new AxiosModel().getUnits().then((response) => {
                this.units = response.data;
                this.unitNames = response.data.map(({id, name}) => {
                    return {text: name, value: id}
                });
                // this.units = response.data;
            }).finally(() => {
                this.loading = false
            });
        }

        selectUnit(id) {
            this.selectedUnit = this.units.find((unit) => unit.id === id);
            this.reservation.total_price = this.selectedUnit.price_per_night
        }
    }
</script>

<style scoped>

</style>