<template>
    <v-card class="ma-4" :loading="loading">
        <v-card-title>Reservations</v-card-title>
        <v-divider/>
        <section v-if="errored">
            <p>Ops, something went wrong</p>
        </section>
        <section v-else>
            <div v-if="loading">
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title>Please wait...</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </div>
            <div v-else>
                <section v-if="reservations.length">
                    <ReservationList :reservations="reservations"/>
                </section>
                <section v-else>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>There are no reservations</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </section>
            </div>
        </section>
        <v-card-actions>
            <v-btn text color="primary" @click="goToNewReservation">Add new reservation</v-btn>
        </v-card-actions>
        <router-view/>
    </v-card>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator';
    import AxiosModel from "../utils/AxiosModel";
    import ReservationList from "../components/Reservations/ReservationList";

    @Component({
        components: {ReservationList},
        data() {
            return {
                reservations: [],
                loading: true,
                errored: false
            }
        },
        mounted() {
            this.getReservations()
        },
        watch: {
            $route(to, from) {
                if ((to.name === 'reservations' && from.name === 'reservations-edit') ||
                    (to.name === 'reservations' && from.name === 'new-reservation')) {
                    this.getReservations();
                }
            }
        }
    })
    export default class Reservations extends Vue {
        goToNewReservation() {
            this.$router.push({
                path: '/new-reservation'
            });
        }

        getReservations() {
            new AxiosModel().getReservations().then((response) => {
                this.reservations = response.data;
            }).finally(() => this.loading = false);
        }
    }
</script>

<style scoped>

</style>