<template>
    <section v-if="loading">
        <Loading/>
    </section>
    <section v-else>
        <v-dialog v-model="dialog" max-width="500">
            <UnitForm title="Edit unit" :unit="unit" :goBack="goBack"/>
        </v-dialog>
    </section>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator';
    import AxiosModel from "../utils/AxiosModel";
    import Loading from "../components/Loading";
    import UnitForm from "../components/Units/UnitForm";

    @Component({
        components: {UnitForm, Loading},
        data() {
            return {
                dialog: true,
                unitId: '',
                unit: {},
                loading: true
            }
        },
        mounted() {
            this.unitId = this.$route.params.id;
            if (!this.unitId) {
                this.goBack();
            }
            this.getUnitDetails();
        },
        watch: {
            dialog() {
                this.goBack()
            }
        }
    })
    export default class UnitList extends Vue {
        goBack() {
            this.dialog = false;
            this.$router.push({
                path: "/units"
            })
        }

        getUnitDetails() {
            new AxiosModel().getUnitDetails(this.unitId).then((response) => {
                this.unit = response.data;
            }).finally(() => {
                this.loading = false
            })
        }
    }
</script>

<style scoped>

</style>