<template>
    <section v-else>
        <v-dialog v-model="dialog" max-width="500">
            <UnitForm title="New unit" :unit="unit" :goBack="goBack"/>
        </v-dialog>
    </section>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator';
    import UnitForm from "../components/Units/UnitForm";

    @Component({
        components: {UnitForm},
        data() {
            return {
                dialog: true,
                unit: {}
            }
        },
        watch: {
            dialog() {
                this.goBack()
            }
        }
    })
    export default class UnitNew extends Vue {
        goBack() {
            this.dialog = false;
            this.$router.push({
                path: "/units"
            })
        }
    }
</script>

<style scoped>

</style>