<template>
    <v-card class="ma-4" :loading="loading">
        <v-card-title>Unit list</v-card-title>
        <v-divider/>
        <section v-if="errored">
            <p>Ops, something went wrong</p>
        </section>
        <section v-else>
            <div v-if="loading">
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title>Please wait...</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </div>
            <div v-else>
                <section v-if="units.length">
                    <UnitList :units="units"/>
                </section>
                <section v-else>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>There are no units available</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </section>
            </div>
        </section>
        <v-card-actions>
            <v-btn text color="primary" @click="goToNewUnit">Add new unit</v-btn>
        </v-card-actions>
        <router-view/>
    </v-card>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator';
    import UnitList from "../components/Units/UnitList";
    import * as axios from "axios";
    import AxiosModel from "../utils/AxiosModel";

    @Component({
        components: {UnitList},
        mounted() {
            this.getUnits();
        },
        data() {
            return {
                units: [],
                loading: true,
                errored: false
            }
        },
        watch: {
            $route(to, from) {
                if ((to.name === 'units' && from.name === 'unit-edit') ||
                    (to.name === 'units' && from.name === 'unit-new')) {
                    this.getUnits();
                }
            }
        }
    })
    export default class Units extends Vue {
        getUnits() {
            this.loading = true;
            new AxiosModel().getUnits().then((response) => {
                this.units = response.data;
            }).finally(() => this.loading = false);
        }

        goToNewUnit() {
            this.$router.push({
                path: '/units/new/'
            });
        }
    }
</script>

<style scoped>

</style>