<template>
    <v-dialog v-model="dialog" hide-overlay max-width="500">
        <v-card color="primary" dark>
            <v-card-text>
                Please stand by
                <v-progress-linear
                        indeterminate
                        color="white"
                        class="mb-0"
                ></v-progress-linear>
            </v-card-text>
        </v-card>
    </v-dialog>
</template>

<script>
    import {Vue, Component} from 'vue-property-decorator';

    @Component({
        data() {
            return {
                dialog: true
            }
        },
        watch: {
            dialog() {
                this.$router.go(-1);
            }
        }
    })
    export default class Loading extends Vue {

    }
</script>

<style scoped>

</style>