<template>
    <v-btn tile elevation="10" large :to="href" :color="isPrimary ? 'primary' : 'success'" class="ma-2">
        <v-icon left small>{{iconName}}</v-icon>
        {{title}}
    </v-btn>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component({
        props: {
            title: String,
            iconName: String,
            href: String,
            isPrimary: Boolean
        },
    })
    export default class MainHomeButton extends Vue {

    }
</script>

<style scoped>

</style>