<template>
    <v-app id="app">
        <AppBar/>
        <router-view/>
    </v-app>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import AppBar from "@/components/TopBar/AppBar.vue";

    @Component({
        components: {
            AppBar,
        },
    })
    export default class App extends Vue {
    }
</script>

<style>

</style>
